.alertify-notifier .ajs-message,.alertify-notifier .ajs-success {
    background: none;
    border: 0;
    text-shadow: none;
}

.badge {
    font-family: sans-serif;
    pointer-events: auto;
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 100%; 
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1em;
    width: 320px;
    margin: 0 0 10px 10px;
    border-radius: 50px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .05), 0 8px 50px rgba(0, 0, 0, .05);
}

.badge_img {
    display: block;
    position: absolute;
    float: left;
    top: 3px;
    left: 3px;
    height: 64px;
    width: 64px;
}

.badge_img img {
    display: block;
    height: 64px;
    width: 64px;
}

.badge_text {
    margin-left: 70px;
    padding-right: 4px;
}

.badge_text_title {
    line-height: 17.5px;
    font-size: 10px;
    /* font-weight: 700; */
    color: #6d6d6d;
    line-height: 1rem;
    text-align: left;
    display: block;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.badge_text_1 {
    line-height: 1.2rem;
    display: inline-block;
    color: #333;
    font-size: 12px;
    text-align: left;
    font-weight:bolder;
    display: block;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.small_text{
    float:right;
    font-size:9px;
    color:#81bdc5;
    font-style: italic;
    z-index:999;
    bottom: 8px;
    position: absolute; 
    right: 15px;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
   
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
   
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
   
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
   
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .badge {
        font-family: sans-serif;
        pointer-events: auto;
        overflow: hidden;
        position: relative;
        height: 60px; 
        background-color: #fff;
        padding: 10px;
        box-sizing: border-box;
        line-height: 0.5em;
        width: 250px;
        margin: 0 0 5px 5px;
        border-radius: 50px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .05), 0 8px 50px rgba(0, 0, 0, .05);
    }
    
    .badge_img {
        display: block;
        position: absolute;
        float: left;
        top: 3px;
        left: 3px;
        height: 54px;
        width: 54px;
    }
    
    .badge_img img {
        display: block;
        height: 54px;
        width: 54px;
    }
    
    .badge_text {
        margin-left: 54px;
        padding-right: 4px;
    }
    
    .badge_text_title {
        line-height: 11px;
        font-size: 10px;
        /* font-weight: 700; */
        color: #6d6d6d;
        line-height: 0.9rem;
        text-align: left;
        display: block;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    
    .badge_text_1 {
        line-height: 0.8rem;
        display: inline-block;
        color: #333;
        font-size: 11px;
        text-align: left;
        font-weight:bolder;
        display: block;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    
    .small_text{
        float:right;
        font-size:9px;
        color:#81bdc5;
        font-style: italic;
        z-index:999;
        bottom: 8px;
        position: absolute; 
        right: 15px;
    }
  }